

pretrained_model_path: "/home/luthando/Desktop/text2video_finetuning/models/model_scope_diffusers"
output_dir: "./outputs"
train_text_encoder: False
#resume_from_checkpoint: None
dataset_types:
  - 'folder'

train_data:
  path: "/home/luthando/.cache/datasets/Appimate/T2V"
  preprocessed: True
  n_sample_frames: 2
  shuffle_frames: False
  width: 384
  height: 256
  sample_start_idx: 0
  sample_frame_rate: 24
  vid_data_key: "video_path"

  # single_video_path: ""
  single_video_prompt: ""

validation_data:
  prompt: "Please simplify this expression: (x+1)(x-1)"
  sample_preview: True
  num_frames: 16
  width: 384
  height: 256
  num_inference_steps: 50
  guidance_scale: 9

learning_rate: 1e-5
adam_weight_decay: 1e-2
train_batch_size: 1
max_train_steps: 250
checkpointing_steps: 2500
validation_steps: 500
trainable_modules:
  - "attentions"
seed: 64
mixed_precision: "fp16"
use_8bit_adam: False # This seems to be incompatible at the moment.

gradient_checkpointing: True
text_encoder_gradient_checkpointing: True
# Xformers must be installed
enable_xformers_memory_efficient_attention: False